* {
  box-sizing: border-box;
}


.country {
  display: flex;
  flex-wrap: wrap;
}


.country .inner-item {
  width: 20%;
  margin-bottom: 20px;
}


.country .inner-item .inner-box {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  height: 100%;
}


.country .inner-item .inner-box .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
}


.country .inner-item .inner-box .inner-title {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
