.users
  table
    thead
      tr
        th  Name 
        th  Email 
    tbody
      tr
        td  User1 
        td  user1@gmail.com  
      tr
        td  User2
        td  user2@gmail.com 
      tr 
        td User3 
        td user3@gmail.com